.mainH-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.subH-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: white;
  height: 100vh;
  padding: 18px;
}

.btn-home-styles {
  border-radius: 8px;
  padding: 9px;
  background-color: #4f46e5;
  color: white;
  border: none;
  cursor: pointer;
}
