.main-job-details-container {
  display: flex;
  flex-direction: column;
  padding: 9px;
}

.second-container {
  background-color: black;
  padding: 27px;
}

.selected-job-container {
  display: flex;
  flex-direction: column;
  padding: 27px;
  background-color: #272727;
  color: white;
  border-radius: 15px;
}

.container-1 {
  display: flex;
  flex-direction: column;
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.company-logo {
  margin-right: 9px;
  margin-left: 9px;
}

.title-and-stars-container {
  display: flex;
  flex-direction: column;
}

.rating-container {
  display: flex;
}

.location-and-type-container-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.location-and-type-container-2 {
  display: flex;
}

.location-container {
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.job-type-container {
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.hr-rule {
  color: #64748b;
  width: 100%;
}

.container-2 {
  display: flex;
  flex-direction: column;
}

.container-2-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.anchor {
  color: #6366f1;
  text-decoration: none;
}

.container-3 {
  display: flex;
  flex-direction: column;
}

.un-ol-skills-container {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.skill-name-li-item {
  margin-left: 81px;
  margin-right: 81px;
  margin-top: 18px;
  margin-bottom: 18px;
  display: flex;
}

.skill-name-p {
  margin-left: 18px;
}

.container-4-life-at-company {
  padding: 18px;
}

.container-4-1 {
  display: flex;
  flex-direction: row;
}

.un-ol-similar-jobs-container {
  list-style-type: none;
  display: flex;
  background-color: black;
  flex-direction: row;
}
